.top-left-btn a {
    font-size: 14px;
    margin-right: 0.5rem;
}

.search-box {
    margin-top: 13px;
}

.search-box input {
    width: 93%;
}

.search-box-btn {
    font-size: 14px;
    margin-top: 0.4rem;
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 768px) {}