/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */






/* Style Sheet */

/* .style {
  background: '#563D7C';
  color: '#95C1F3';
  font-weight: 'bold';
  width: '50%';
  margin: 'auto';
  padding: '0.6rem';
  text-align: 'center'
}

h1 {
  color: red;
} */


* {
  font-family: 'Poppins', 'Hind Siliguri', sans-serif;
  font-size: 14px;
}

/* 
body {
  width: 100%;
  height: 100%;
} */

.bg-brand {
  background-color: #f3f5f9;
}

.bg-brand-container {
  min-height: 100vh;
}

.container-brand {
  width: 80%;
}

.header-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.header-description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.button-brand {
  width: 186px;
  height: 64px;
  background: #FFA00A;
  border-radius: 12px;
  border: none;
  font-weight: bold;
}


.button-signUp {
  width: 111px;
  height: 45px;
  background: #FFEFD6;
  border-radius: 8px;
  border: none;
  margin: 0 5px;
}

.button-signUp:hover {
  background: #FFAC29;
}

/* Find a Program */
.programs-card {
  min-height: 229.1px;
  background: #F9F8F8;
  border: 1px solid #EAEAEA;
  border-radius: 16px;
}

.programs-card:hover {
  background: white;
  border: 1px solid #FFA00A;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.programs-apply-btn,
.programs-details-btn {
  padding: 12px 24px;
  width: 115px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 12px;
}

.programs-apply-btn:hover,
.programs-details-btn:hover {
  background: #FFA00A;
  border: 1px solid #FFA00A;
  color: #000000;
}

.programs-details-btn {
  width: 165px;
}

/* Products */
.products-container {
  padding: 1rem;
}

.cart-deck {
  background-color: white;
  min-width: 320px;
  min-height: 350px;
  border: 2px solid #f2f2f2;
  border-radius: 15px;
  box-shadow: 0 5px 15px #f2f2f2;
}

.cart-img-top {
  width: 200px;
  margin: 1rem 0;
  padding: 10px 0;
  transition: transform .2s;
}

.cart-img-top:hover {
  filter: brightness(0.8);
  transform: scale(1.2);
}

.cart-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0.5rem 0;
}

.cart-text {
  font-size: 14px;
  margin: 0.5rem 0;
}

.bgOne {
  background-color: #fc6d26;
}

.bgOne:hover {
  background-color: #FF8547;
}

.bgTwo {
  background-color: #4c9aff;
}

.bgTwo:hover {
  background-color: #80B7FF;
}

.bgThree {
  background-color: #4eb2ff;
}

.bgThree:hover {
  background-color: #81C8FF;
}

.bgFour {
  background-color: #d1d5da;
}

.bgFour:hover {
  background-color: #F6F8FA;
}

.bgFive {
  background-color: #12181F;
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 768px) {}


@media (max-width: 768px) {
  .header-title {
    font-size: 1.5rem;
  }

  .header-description {
    font-size: 1rem;
  }

  .button-brand {
    width: 100%;
  }
}